body {
    background-image: -o-linear-gradient(90deg, black, black);


}
header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;

}

header img {
    width: 160px;
    border: 5px groove rgb(12, 12, 12);
    border-radius: 50px;

}

header nav ul li:hover {
    background-color: pink;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: inline;
    padding: 25px;

}

header nav ul li {
    display: inline;
    padding: 25px;

}

header nav {
    padding: 25px;
}

.conteudo-descricao {

display: flex;

}

main h1 {
    text-align: center;
    padding: 25px 0px;
    text-transform: uppercase;
}

.conteudo-descricao img {
    margin: 0px 25px;
    border-radius: 50px;
    width: 20%;
    border:5px solid black;
}


div {
    background-color: pink;
}

.paragrafo-descricao p{
    padding: 0px 15px 25px;
    text-align: justify;
    font-size: 20px;
}



